@import url(../css/other.css);
.old-light-dark {
  background-image: linear-gradient(#db6e57, #a83b24, #150705); }

.wolverine {
  text-align: center;
  background-image: linear-gradient(rgba(168, 59, 36, 0.5), #a83b24, #914a3b); }
  .wolverine:hover {
    background-image: linear-gradient(rgba(36, 145, 168, 0.5), #2491a8, #3b8291); }
    .wolverine:hover .wolverine-text {
      color: rgba(233, 206, 9, 0.8); }
  .wolverine-text {
    font-size: 1.5rem;
    padding-bottom: 1rem;
    color: #be6c1b; }
  .wolverine img {
    margin-top: 3rem;
    border-radius: 50%; }

.women-of-the-marvel-universe {
  content: "women-of-the-marvel-universe"; }

.women-of-the-marvel-universe-text {
  color: #989898; }

.women-of-the-marvel-universe-cape {
  background-color: #8465D9; }

img {
  border: 1px dotted green; }

.elektra {
  color: blue;
  border: 1px solid purple;
  font-size: 36px; }

.fancy {
  color: green; }

.spiderman {
  padding: 1rem 2rem;
  transition: transform .8s ease-in-out; }
  .spiderman-container:hover .spiderman {
    transform: rotate(180deg); }
  .spiderman-container {
    background-color: #dbbebe; }
  .spiderman::before {
    display: block;
    content: url("../images/spiderman-icon.png"); }
  .spiderman img {
    transition: transform .8s ease-in-out; }
    .spiderman img:hover {
      transform: rotate(360deg); }
  .spiderman .description {
    color: darkred;
    text-align: center;
    margin-top: 1rem; }
    .spiderman .description .header {
      font-size: 2rem; }
  .spiderman .description-link {
    text-decoration: none; }
    .spiderman .description-link::after {
      content: url("../images/spiderman-ok.jpg");
      display: inline-block;
      vertical-align: middle; }

.red {
  color: red; }

.red-dark {
  color: #990000; }

.blue {
  color: #b3b3ff; }

.blue {
  color: yellow; }

.cool {
  color: rebeccapurple; }
